#input {
  background-color: rgb(180, 180, 180);
  margin: 20px;
  font-size: medium;
  color: blue;
  border-radius: 5px;
  font-weight: 300px;
  padding: 5px;
  font-family: Helvetica, sans-serif;
}
